<template>
  <div class="md-layout md-alignment-top-center">
    <center v-if="feeds === null">
      <md-progress-spinner md-mode="indeterminate"/>
    </center>
    <md-card v-else class="md-layout-item md-size-50 md-small-size-100">
      <md-card-header>
        <h3>Calendar Feeds</h3>
      </md-card-header>
      <md-card-content>
        <md-list>
          <md-list-item v-for="feed in feeds" :key="feed.id" md-expand :md-expanded="autoExpand === feed.id" @update:mdExpanded="updateFeed(feed, $event)">
            <md-icon>calendar_today</md-icon>
            <span class="md-list-item-text">{{ feed.label }}</span>
            <div slot="md-expand">
              <div>
                <div style="text-align: right">
                  <md-button class="md-icon-button md-dense" @click="addSource(feed)">
                    <md-icon>add</md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-dense" @click="renameFeed(feed)">
                    <md-icon>edit</md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-dense" :href="`https://todo.nickmertin.ca/api/feed-ics/${feed.hash}`" target="_blank">
                    <md-icon>link</md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-dense" @click="deleteFeed(feed)">
                    <md-icon>delete</md-icon>
                  </md-button>
                </div>
                <center v-if="!feed.sources">
                  <md-progress-spinner md-mode="indeterminate"/>
                </center>
                <center v-else-if="feed.sources.length === 0" style="color: gray; margin-bottom: 1rem; margin-top: .5rem">This feed is empty!</center>
                <md-list v-else>
                  <md-list-item v-for="source in feed.sources" :key="`${source.type}-${source.id}`">
                    <md-icon>{{ source.type === 'project' ? 'folder' : 'list' }}</md-icon>
                    <span class="md-list-item-text">{{ source.type === 'project' ? source.name : `${source.list_name} (${source.project_name})` }}</span>
                    <md-button class="md-icon-button md-dense" @click="deleteSource(feed, source)">
                      <md-icon>delete</md-icon>
                    </md-button>
                  </md-list-item>
                </md-list>
              </div>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
      <md-card-actions>
        <md-button class="md-primary" to="/feeds/new">New Feed</md-button>
      </md-card-actions>
    </md-card>
    <md-dialog :md-active.sync="addSourceShow">
      <md-dialog-title>Add Source to '{{ thisFeed && thisFeed.label }}'</md-dialog-title>
      <div style="margin-left: 1rem; margin-right: 1rem">
        <div v-if="addSourceType === null">
          <p>Select a source type:</p>
          <div style="text-align: center">
            <md-button @click="addSourceType = 'project'">Project</md-button>
            <md-button @click="addSourceType = 'list'">List</md-button>
          </div>
        </div>
        <div v-else>
          <p>
            <md-button class="md-icon-button md-dense" @click="addSourceType = null">
              <md-icon>arrow_back</md-icon>
            </md-button>
            <span>Select a {{ addSourceType }}:</span>
          </p>
          <md-field>
            <label for="feed-source">Source</label>
            <md-select v-model="addSourceId" id="feed-source">
              <md-option v-for="source in (addSourceType === 'project' ? $store.state.projects : [].concat(...$store.state.projects.map(p => p.lists.map(l => Object.assign({ project: p.id }, l)))))" :key="source.id" :value="source.id">{{ source.name }}{{ source.type === 'list' ? source.project : '' }}</md-option>
            </md-select>
          </md-field>
        </div>
      </div>
      <md-dialog-actions>
        <md-button @click="addSourceCancel">Cancel</md-button>
        <md-button class="md-primary" :disabled="addSourceType === null || addSourceId === null" @click="addSourceGo">Add Source</md-button>
      </md-dialog-actions>
    </md-dialog>
    <prompt-dialog :active.sync="renameFeedShow" title="Edit Feed Name" label="Feed Name" input-id="feed-rename" :initial-value="thisFeed && thisFeed.label || ''" :disabled="renameFeedSending" ok-text="Save" @ok="renameFeedGo" @cancel="thisFeed = null">
      <template slot="after">
        <md-progress-bar v-if="renameFeedSending" md-mode="indeterminate"/>
      </template>
    </prompt-dialog>
    <md-dialog-confirm :md-active.sync="deleteFeedShow" :md-title="thisFeed && `Delete '${thisFeed.label}'?` || ''" md-content="Are you sure you want to delete this feed? This action cannot be undone." md-confirm-text="Delete" @md-confirm="deleteFeedGo" @md-cancel="thisFeed = null"/>
    <md-snackbar :md-active="error !== null" :md-duration="Infinity" @md-closed="error = null">
      <span>{{ error }}</span>
    </md-snackbar>
  </div>
</template>

<script>
import { api, nextTick } from '../utils'
import PromptDialog from './PromptDialog'

async function update(vm) {
  try {
    vm.feeds = await api(`/feeds`)
  } catch (e) {
    vm.error = 'Failed to load feeds data!'
  }
}

export default {
  components: {
    PromptDialog
  },
  data () {
    return {
      feeds: null,
      error: null,
      autoExpand: null,
      thisFeed: null,
      addSourceShow: false,
      addSourceType: null,
      addSourceId: null,
      renameFeedShow: false,
      renameFeedSending: false,
      deleteFeedShow: false
    }
  },
  mounted () {
    update(this)
    this.$on('refresh', ignore => {
      if (!ignore) {
        this.feeds = null
        update(this)
      }
    })
    const test = /^#(\d+)$/.exec(location.hash)
    if (test) {
      this.autoExpand = parseInt(test[1])
    }
  },
  methods: {
    async updateFeed (feed, load) {
      location.hash = ''
      if (load && !feed.sources) {
        const data = await api(`/feeds/${feed.id}`)
        feed.sources = [
          ...data.lists.map(l => Object.assign(l, {
            type: 'list'
          })),
          ...data.projects.map(l => Object.assign(l, {
            type: 'project'
          }))
        ]
        this.$forceUpdate()
      }
    },
    async addSource (feed) {
      this.thisFeed = feed
      await nextTick()
      this.addSourceShow = true
    },
    async addSourceCancel () {
      this.addSourceShow = false
      await nextTick()
      this.thisFeed = null
      this.addSourceType = null
      this.addSourceId = null
    },
    async addSourceGo () {
      try {
        this.error = null
        await api(`/feeds/${this.thisFeed.id}`, {
          method: 'PATCH',
          data: JSON.stringify({
            [this.addSourceType + 's']: this.thisFeed.sources.filter(s => s.type === this.addSourceType).map(s => s.id).concat([this.addSourceId])
          }),
          contentType: 'application/json; charset=utf-8',
          processData: false,
          dataType: 'json'
        })
        delete this.thisFeed.sources
        this.updateFeed(this.thisFeed, true)
        this.addSourceCancel()
      } catch (e) {
        console.log(e)
        this.error = 'Failed to update feed sources!'
      }
    },
    async renameFeed (feed) {
      this.thisFeed = feed
      await nextTick()
      this.renameFeedShow = true
    },
    async renameFeedGo ({ value, keepOpen }) {
      keepOpen()
      try {
        this.error = null
        this.renameFeedSending = true
        await api(`/feeds/${this.thisFeed.id}`, {
          method: 'PATCH',
          data: JSON.stringify({
            label: value
          }),
          contentType: 'application/json; charset=utf-8',
          processData: false,
          dataType: 'json'
        })
        this.renameFeedShow = false
        this.renameFeedSending = false
        this.thisFeed.label = value
      } catch (e) {
        this.renameFeedSending = false
        console.log(e)
        this.error = 'Failed to update feed label!'
      }
    },
    async deleteFeed (feed) {
      this.thisFeed = feed
      await nextTick()
      this.deleteFeedShow = true
    },
    async deleteFeedGo () {
      try {
        this.error = null
        await api(`/feeds/${this.thisFeed.id}`, {
          method: 'DELETE'
        })
        this.feeds = null
        update(this)
      } catch (e) {
        console.log(e)
        this.error = 'Failed to delete feed!'
      }
    },
    async deleteSource (feed, source) {
      try {
        this.error = null
        await api(`/feeds/${feed.id}`, {
          method: 'PATCH',
          data: JSON.stringify({
            [source.type + 's']: feed.sources.filter(s => s.type === source.type && s.id !== source.id).map(s => s.id)
          }),
          contentType: 'application/json; charset=utf-8',
          processData: false,
          dataType: 'json'
        })
        delete feed.sources
        this.updateFeed(feed, true)
      } catch (e) {
        console.log(e)
        this.error = 'Failed to delete source!'
      }
    }
  }
}
</script>

