<template>
  <div>
    <md-empty-state md-icon="list" md-label="Home" md-description="Select a list from a project on the left, or click the button below to create a new project.">
      <md-button class="md-primary md-raised" to="/new-project">New Project</md-button>
    </md-empty-state>
  </div>
</template>
