<template>
  <div class="md-layout md-alignment-top-center">
    <center v-if="list === null">
      <md-progress-spinner md-mode="indeterminate"/>
    </center>
    <md-card v-else class="md-layout-item md-size-75 md-large-size-100">
      <md-card-header>
        <h3>
          {{ list.name }}
          <md-button class="md-icon-button md-dense" style="margin-top: -.5em" @click="editName = true">
            <md-icon>edit</md-icon>
          </md-button>
          <md-button class="md-icon-button md-dense" style="margin-top: -.5em; margin-left: 0" @click="deleteShow = true">
            <md-icon>delete</md-icon>
          </md-button>
        </h3>
      </md-card-header>
      <md-card-content>
        <md-tabs>
          <md-tab id="tab-todo" md-label="Todo">
            <md-table>
              <md-table-row>
                <md-table-head>Item</md-table-head>
                <md-table-head>Due Date</md-table-head>
                <md-table-head>Due Time</md-table-head>
                <md-table-head>Actions</md-table-head>
              </md-table-row>
              <md-table-row v-for="item in sortedItems" v-if="!item.done" :key="item.id" :style="pastDue(item) ? 'color: red' : ''">
                <md-table-cell>
                  <md-field v-if="toEdit === item">
                    <label for="edit-text">Item</label>
                    <md-input v-model="item.text" id="edit-text"/>
                  </md-field>
                  <md-checkbox v-else v-model="item.done" class="md-primary" @change="patch(item, true)">{{ item.text }}</md-checkbox>
                </md-table-cell>
                <md-table-cell>
                  <md-datepicker v-if="toEdit === item" v-model="editDate"/>
                  <span v-else>{{ item.due_date }}</span>
                </md-table-cell>
                <md-table-cell>
                  <md-field v-if="toEdit === item">
                    <label for="edit-time">Due Time</label>
                    <md-select v-model="editTime" id="edit-time">
                      <md-option value="_">None</md-option>
                      <md-option v-for="time in timeOptions" :key="time" :value="time">{{ time }}</md-option>
                    </md-select>
                  </md-field>
                  <span v-else>{{ item.due_time }}</span>
                </md-table-cell>
                <md-table-cell>
                  <md-button class="md-icon-button" @click="deleteItem(item)">
                    <md-icon>delete</md-icon>
                  </md-button>
                  <md-button v-if="toEdit === item" class="md-icon-button" @click="toEdit = null">
                    <md-icon>done</md-icon>
                  </md-button>
                  <md-button v-else class="md-icon-button" @click="toEdit = item">
                    <md-icon>edit</md-icon>
                  </md-button>
                </md-table-cell>
              </md-table-row>
              <md-table-row v-if="newItem !== null">
                <md-table-cell>
                  <md-field>
                    <label for="new-text">Item</label>
                    <md-input v-model="newItem.text" id="new-text"/>
                  </md-field>
                </md-table-cell>
                <md-table-cell>
                  <md-datepicker v-model="newItem.due_date"/>
                </md-table-cell>
                <md-table-cell>
                  <md-field>
                    <label for="new-time">Due Time</label>
                    <md-select v-model="newItemTime" id="new-time">
                      <md-option value="_">None</md-option>
                      <md-option v-for="time in timeOptions" :key="time" :value="time">{{ time }}</md-option>
                    </md-select>
                  </md-field>
                </md-table-cell>
                <md-table-cell style="width: 10rem">
                  <div style="display: flex; flex-direction: row">
                    <md-button class="md-icon-button" style="display: block" @click="addNew">
                      <md-icon>check_circle</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" style="display: block" @click="cancelNew">
                      <md-icon>cancel</md-icon>
                    </md-button>
                  </div>
                </md-table-cell>
              </md-table-row>
            </md-table>
          </md-tab>
          <md-tab id="tab-done" md-label="Done">
            <md-list>
              <md-list-item v-for="item in sortedItems" v-if="item.done" :key="item.id">
                <md-checkbox v-model="item.done" class="md-primary" @change="patch(item, true)">
                  <span style="text-decoration: line-through">{{ item.text }} ({{ item.due_date }})</span>
                </md-checkbox>
              </md-list-item>
            </md-list>
          </md-tab>
        </md-tabs>
      </md-card-content>
      <md-card-actions>
        <md-button v-if="newItem === null" @click="initNew">Add item</md-button>
        <md-button v-else @click="cancelNew">Cancel</md-button>
      </md-card-actions>
    </md-card>
    <prompt-dialog :active.sync="editName" title="Edit List Name" label="List Name" input-id="name-edit" :initial-value="list && list.name || ''" :disabled="editNameSending" ok-text="Save" @ok="patchName">
      <template slot="after">
        <md-progress-bar v-if="editNameSending" md-mode="indeterminate"/>
      </template>
    </prompt-dialog>
    <md-dialog-confirm :md-active.sync="deleteShow" md-title="Delete List?" md-content="Are you sure you want to delete this list? This action cannot be undone." md-confirm-text="Delete" @md-confirm="deleteList"/>
    <md-snackbar :md-active="error !== null" :md-duration="Infinity" @md-closed="error = null">
      <span>{{ error }}</span>
    </md-snackbar>
    <md-snackbar v-if="deletedItem" :md-active.sync="showDeleteNotify" :md-duration="10000">
      <span>Deleted item '{{ deletedItem.text }}'.</span>
      <md-button @click="undoDelete">Undo</md-button>
      <md-button @click="showDeleteNotify = false">Dismiss</md-button>
    </md-snackbar>
    <md-snackbar v-if="doneItem" :md-active.sync="showDoneNotify" :md-duration="10000">
      <span>Marked item '{{ doneItem.text }}' as {{ doneItem.done ? 'done' : 'not done' }}.</span>
      <md-button @click="undoDone">Undo</md-button>
      <md-button @click="showDoneNotify = false">Dismiss</md-button>
    </md-snackbar>
  </div>
</template>

<script>
import { api, post, nextTick, sortBy, delay } from '../utils'
import PromptDialog from './PromptDialog'
import dateFormat from 'dateformat'

async function update(vm) {
  try {
    vm.list = await api(`/lists/${vm.$route.params.id}`)
  } catch (e) {
    vm.error = 'Failed to load list data!'
  }
}

export default {
  components: {
    PromptDialog
  },
  data () {
    return {
      list: null,
      error: null,
      editName: false,
      editNameSending: false,
      deleteShow: false,
      newItem: null,
      showDeleteNotify: false,
      showDoneNotify: false,
      deletedItem: null,
      doneItem: null,
      toEdit: null
    }
  },
  computed: {
    sortedItems () {
      return sortBy(this.list.items, item => item.due_date + (x => x < 10 ? '0' + x : x.toString())(this.timeOptions.indexOf(item.due_time)))
    },
    timeOptions () {
      const opts = []
      for (let i = 0; i < 24; ++i) {
        const h = (i + 11) % 12 + 1
        const ap = i < 12 ? 'A' : 'P'
        opts.push(`${h}:00 ${ap}M`)
        opts.push(`${h}:30 ${ap}M`)
      }
      return opts
    },
    newItemTime: {
      get () {
        return this.newItem && (this.newItem.due_time || '_')
      },
      set (value) {
        this.newItem.due_time = value === '_' ? '' : value
      }
    },
    editDate: {
      get () {
        return this.toEdit && this.toEdit.due_date
      },
      set (value) {
        this.toEdit.due_date = dateFormat(value instanceof Date ? value : new Date(value), 'yyyy-mm-dd', true)
      }
    },
    editTime: {
      get () {
        return this.toEdit && (this.toEdit.due_time || '_')
      },
      set (value) {
        this.toEdit.due_time = value === '_' ? '' : value
      }
    }
  },
  mounted () {
    update(this)
    this.$on('refresh', ignore => {
      if (!ignore) {
        this.list = null
        update(this)
      }
    })
  },
  watch: {
    $route () {
      this.list = null
      this.error = null
      update(this)
    },
    toEdit (_, item) {
      if (item !== null) {
        this.patch(item)
      }
    }
  },
  methods: {
    async deleteItem (item) {
      try {
        await api(`/items/${item.id}`, {
          method: 'DELETE'
        })
        this.list.items.splice(this.list.items.indexOf(item), 1)
        this.deletedItem = item
        this.showDeleteNotify = true
      } catch (e) {
        this.error = null
        await nextTick()
        this.error = 'Failed to delete item!'
      }
    },
    async undoDelete () {
      try {
        await post(`/items`, Object.assign({
          list: this.list.id
        }, this.deletedItem))
        this.list.items.push(this.deletedItem)
        this.showDeleteNotify = false
        this.deletedItem = null
      } catch (e) {
        console.log(e)
        this.error = null
        await nextTick()
        this.error = 'Failed to recreate item!'
      }
    },
    initNew () {
      this.newItem = {
        text: '',
        due_date: new Date(),
        due_time: ''
      }
    },
    cancelNew () {
      this.newItem = null
    },
    async addNew () {
      try {
        this.newItem.due_date = this.newItem.due_date.toISOString().substr(0, 10)
        await post(`/items`, Object.assign({
          list: this.list.id
        }, this.newItem))
        this.list.items.push(this.newItem)
        this.newItem = null
      } catch (e) {
        console.log(e)
        this.error = null
        await nextTick()
        this.error = 'Failed to add item!'
      }
    },
    async patch (item, updateDone) {
      try {
        await api(`/items/${item.id}`, {
          method: 'PATCH',
          data: JSON.stringify(item),
          contentType: 'application/json; charset=utf-8',
          processData: false,
          dataType: 'json'
        })
        if (updateDone) {
          this.doneItem = item
          this.showDoneNotify = true
        }
      } catch (e) {
        console.log(e)
        this.error = null
        await nextTick()
        this.error = 'Failed to patch item!'
      }
    },
    undoDone () {
      if (this.doneItem) {
        this.doneItem.done = !this.doneItem.done
        this.patch(this.doneItem)
        this.doneItem = null
      }
      this.showDoneNotify = false
    },
    async nameEditOpen () {
      await delay(1)
      $('#name-edit').focus()
    },
    async patchName ({ value, keepOpen }) {
      keepOpen()
      try {
        this.editNameSending = true
        await api(`/lists/${this.$route.params.id}`, {
          method: 'PATCH',
          data: JSON.stringify({ name: value }),
          contentType: 'application/json; charset=utf-8',
          processData: false,
          dataType: 'json'
        })
        this.editName = false
        this.editNameSending = false
        this.list.name = value
        this.$emit('refresh', true)
      } catch (e) {
        this.editNameSending = false
        console.log(e)
        this.error = null
        await nextTick()
        this.error = 'Failed to update name!'
      }
    },
    async deleteList () {
      try {
        await api(`/lists/${this.$route.params.id}`, {
          method: 'DELETE'
        })
        this.$emit('refresh', true)
        this.$router.push('/')
      } catch (e) {
        console.log(e)
        this.error = null
        await nextTick()
        this.error = 'Failed to delete list!'
      }
    },
    pastDue (item) {
      const isoDate = dateFormat('isoDate')
      return item.due_date < isoDate || item.due_date === isoDate && this.timeOptions.indexOf(item.due_time) < new Date().getHours() * 2 + new Date().getMinutes() * 120
    }
  }
}
</script>

