<template>
  <form @submit.prevent="login" class="md-layout md-alignment-top-center">
    <md-card class="md-layout-item md-size-50 md-small-size-100">
      <md-card-header>
        <h3>Log In</h3>
      </md-card-header>
      <md-card-content>
        <div class="md-layout md-gutter">
          <div class="md-layout-item md-small-size-100">
            <md-field>
              <label for="username">Username</label>
              <md-input id="username" v-model="username" :disabled="sending"/>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100">
            <md-field>
              <label for="password">Password</label>
              <md-input id="password" v-model="password" type="password" :disabled="sending"/>
            </md-field>
          </div>
        </div>
      </md-card-content>
      <md-progress-bar v-if="sending" md-mode="indeterminate"/>
      <md-card-actions>
        <md-button type="submit" class="md-primary" :disabled="sending">Log In</md-button>
      </md-card-actions>
    </md-card>
    <md-snackbar :md-active="error !== null">{{ error }}</md-snackbar>
  </form>
</template>

<script>
import { post } from '../utils'

export default {
  data () {
    return {
      username: '',
      password: '',
      sending: false,
      error: null
    }
  },
  methods: {
    async login () {
      this.sending = true
      try {
        const data = await post('/login', {
          username: this.username,
          password: this.password
        })
        this.$store.commit('updateToken', data.token)
        this.$router.push(this.$route.query.next || '/')
      } catch (e) {
        this.error = e.status === 403 ? 'Incorrect credentials!' : 'Failed to connect to API!'
        this.sending = false
      }
    }
  }
}
</script>
