<template>
  <form @submit.prevent="create" class="md-layout md-alignment-top-center">
    <md-card class="md-layout-item md-size-50 md-small-size-100">
      <md-card-header>
        <h3>New Feed</h3>
      </md-card-header>
      <md-card-content>
        <div class="md-layout md-gutter">
          <div class="md-layout-item md-small-size-100">
            <md-field>
              <label for="label">Label</label>
              <md-input id="label" v-model="label" :disabled="sending"/>
            </md-field>
          </div>
        </div>
      </md-card-content>
      <md-progress-bar v-if="sending" md-mode="indeterminate"/>
      <md-card-actions>
        <md-button type="submit" class="md-primary" :disabled="sending">Create</md-button>
      </md-card-actions>
    </md-card>
    <md-snackbar :md-active="error !== null">{{ error }}</md-snackbar>
  </form>
</template>

<script>
import { post } from '../utils'

export default {
  data () {
    return {
      name: '',
      sending: false,
      error: null
    }
  },
  methods: {
    async create () {
      this.sending = true
      try {
        const data = await post('/feeds', {
          label: this.label
        })
        this.$emit('refresh', true)
        this.$router.push(`/feeds#${data.id}`)
      } catch (e) {
        this.error = 'Failed to create feed!'
        this.sending = false
      }
    }
  },
  mounted () {
    $(this.$el).find('input[type=text]').focus()
  }
}
</script>

