<template>
  <div class="md-layout md-alignment-top-center">
    <center v-if="project === null">
      <md-progress-spinner md-mode="indeterminate"/>
    </center>
    <md-card v-else class="md-layout-item md-size-50 md-small-size-100">
      <md-card-header>
        <h3>{{ project && project.name }}</h3>
      </md-card-header>
      <md-card-content>
        <md-list>
          <md-subheader>Actions</md-subheader>
          <md-list-item>
            <div>
              <md-button class="md-accent" @click="$emit('delete-proj', project)">Delete</md-button>
              <md-button @click="renameShow = true">Rename</md-button>
            </div>
          </md-list-item>
          <md-subheader>Sharing</md-subheader>
          <md-list-item>
            <form>
              <md-switch v-model="isPublic">Public Project</md-switch>
            </form>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
    <prompt-dialog :active.sync="renameShow" title="Edit Project Name" label="Project Name" input-id="name-edit" :initial-value="project && project.name || ''" :disabled="renameSending" ok-text="Save" @ok="patchName">
      <template slot="after">
        <md-progress-bar v-if="renameSending" md-mode="indeterminate"/>
      </template>
    </prompt-dialog>
  </div>
</template>

<script>
import { api } from '../utils'
import PromptDialog from './PromptDialog'

export default {
  components: {
    PromptDialog
  },
  data () {
    return {
      renameShow: false,
      renameSending: false
    }
  },
  computed: {
    project () {
      return (this.$store.state.projects || []).find(p => p.id == this.$route.params.id) || null
    },
    isPublic: {
      get () {
        return this.project && this.project.public
      },
      set (value) {
        if (value != this.isPublic) {
          this.project.public = value
          this.patch()
        }
      }
    }
  },
  methods: {
    async patch () {
      try {
        await api(`/projects/${this.project.id}`, {
          method: 'PATCH',
          data: JSON.stringify({
            name: this.project.name,
            public: this.project.public
          }),
          contentType: 'application/json; charset=utf-8',
          processData: false,
          dataType: 'json'
        })
      } catch (e) {
        console.log(e)
        this.$emit('error', 'Failed to update project!')
      }
    },
    async patchName ({ value, keepOpen }) {
      keepOpen()
      try {
        this.renameSending = true
        await api(`/projects/${this.project.id}`, {
          method: 'PATCH',
          data: JSON.stringify({ name: value }),
          contentType: 'application/json; charset=utf-8',
          processData: false,
          dataType: 'json'
        })
        this.renameShow = false
        this.renameSending = false
        this.$emit('refresh', true)
      } catch (e) {
        this.renameSending = false
        console.log(e)
        this.$emit('error', 'Failed to update project name!')
      }
    }
  }
}
</script>

