<template>
  <md-dialog :md-active.sync="activeLocal" @md-opened="$emit('opened'); focus()" @md-closed="$emit('closed'); tmpValue = initialValue">
    <md-dialog-title>{{ title }}</md-dialog-title>
    <slot name="before"/>
    <form @submit.prevent="closeOk" style="margin-left: 1rem; margin-right: 1rem">
      <md-field>
        <label :for="inputId">{{ label }}</label>
        <md-input :disabled="disabled" :id="inputId" v-model="tmpValue"/>
      </md-field>
    </form>
    <slot name="after"/>
    <md-dialog-actions>
      <md-button :disabled="disabled" @click="closeCancel">{{ cancelText }}</md-button>
      <md-button :disabled="disabled" class="md-primary" @click="closeOk">{{ okText }}</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
import { delay } from '../utils'

export default {
  props: {
    title: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    inputId: {
      type: String,
      default () {
        return `prompt-input-${Math.random()}`
      }
    },
    okText: {
      type: String,
      default: 'OK'
    },
    cancelText: {
      type: String,
      default: 'Cancel'
    },
    active: {
      type: Boolean,
      required: true
    },
    initialValue: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      tmpValue: '',
      activeLocal: false
    }
  },
  mounted () {
    this.tmpValue = this.initialValue
    this.activeLocal = this.active
  },
  watch: {
    initialValue (value) {
      this.tmpValue = value
    },
    active (value) {
      this.activeLocal = value
    },
    activeLocal (value) {
      this.$emit('update:active', value)
    }
  },
  methods: {
    async focus () {
      await delay(10)
      $(`#${this.inputId}`).focus()
    },
    closeOk () {
      let newLocal = false
      this.$emit('ok', {
        value: this.tmpValue,
        keepOpen () {
          newLocal = true
        }
      })
      this.activeLocal = newLocal
    },
    closeCancel () {
      let newLocal = false
      this.$emit('cancel', () => newLocal = true)
      this.activeLocal = newLocal
    }
  }
}
</script>

