<template>
  <md-app id="app" md-mode="fixed">
    <md-app-toolbar class="md-primary">
      <md-button class="md-icon-button mobile-only" @click="toggleNav">
        <md-icon>menu</md-icon>
      </md-button>
      <span class="md-title" style="flex: 1; min-width: 9em">todo.nickmertin.ca</span>
      <div v-if="authenticated" class="dumb-container desktop-only">
        <md-button to="/">Home</md-button>
        <md-button to="/feeds">Manage Feeds</md-button>
        <md-button @click="refresh">Refresh</md-button>
        <md-button @click="logout">Log Out</md-button>
      </div>
    </md-app-toolbar>
    <md-app-drawer v-if="authenticated" md-permanent="full" class="md-scrollbar" :md-active.sync="navActive">
      <div class="dumb-container mobile-only">
        <md-toolbar class="md-transparent" md-elevation="0" style="display: flex; flex-direction: row">
          <span style="flex: 1">Navigation</span>
          <md-button class="md-icon-button" @click="toggleNav">
            <md-icon>arrow_back</md-icon>
          </md-button>
        </md-toolbar>
        <md-list>
          <md-list-item to="/">
            <md-icon>home</md-icon>
            <span class="md-list-item-text">Home</span>
          </md-list-item>
          <md-list-item to="/feeds">
            <md-icon>calendar_today</md-icon>
            <span class="md-list-item-text">Manage Feeds</span>
          </md-list-item>
          <md-list-item @click="refresh">
            <md-icon>refresh</md-icon>
            <span class="md-list-item-text">Refresh</span>
          </md-list-item>
          <md-list-item @click="logout">
            <md-icon>person_outline</md-icon>
            <span class="md-list-item-text">Log Out</span>
          </md-list-item>
        </md-list>
      </div>
      <md-toolbar class="md-transparent" md-elevation="0">
        Projects &amp; Lists
      </md-toolbar>
      <center v-if="projects === null">
        <md-progress-spinner md-mode="indeterminate"/>
      </center>
      <md-list v-else>
        <md-list-item v-for="project in projects" :key="project.id" md-expand md-expanded>
          <md-icon>folder</md-icon>
          <span class="md-list-item-text">{{ project.name }}</span>
          <div slot="md-expand" style="display: contents">
            <div style="text-align: right">
              <md-button class="md-icon-button md-dense" @click="newList(project)">
                <md-icon>add</md-icon>
              </md-button>
              <md-button class="md-icon-button md-dense" :to="`/project/${project.id}`">
                <md-icon>settings</md-icon>
              </md-button>
              <md-button class="md-icon-button md-dense" @click="deleteProject(project)">
                <md-icon>delete</md-icon>
              </md-button>
            </div>
            <center v-if="project.lists === null">
              <md-progress-spinner md-mode="indeterminate"/>
            </center>
            <center v-else-if="project.lists.length === 0" style="color: gray; margin-bottom: 1rem; margin-top: .5rem">This project is empty!</center>
            <md-list v-else>
              <md-list-item v-for="list in project.lists" :key="list.id" class="md-inset" :to="`/list/${list.id}`">{{ list.name }}</md-list-item>
            </md-list>
          </div>
        </md-list-item>
      </md-list>
      <prompt-dialog :active.sync="newListShow" :title="thisProj && `Add List to '${thisProj.name}'` || ''" label="List Name" input-id="new-list-name" ok-text="Create" @ok="newListCreate" @closed="thisProj = null"/>
      <md-dialog-confirm :md-active.sync="deleteProjShow" :md-title="thisProj && `Delete '${thisProj.name}'?` || ''" md-content="Are you sure you want to delete this project? This action cannot be undone." md-confirm-text="Delete" @md-confirm="deleteProjGo" @md-cancel="thisProj = null"/>
    </md-app-drawer>
    <md-app-content>
      <router-view ref="view" @refresh="$event && refresh()" @delete-proj="deleteProject" @error="error = $event"/>
    </md-app-content>
    <md-snackbar v-if="error !== null">{{ error }}</md-snackbar>
  </md-app>
</template>

<script>
import { api, post, nextTick } from './utils'
import { logout } from './router'
import PromptDialog from './components/PromptDialog'

var instance = null

export function getInstance() {
  return instance
}

async function update(vm) {
  try {
    const projects = await api('/projects')
    vm.projects = projects.map(p => Object.assign(p, { lists: null }))
    const promises = projects.map(obj => ({
      obj,
      promise: api(`/projects/${obj.id}`)
    }))
    for (const p of promises) {
      p.obj.lists = (await p.promise).lists
    }
  } catch (e) {
    vm.error = e
  }
}

export default {
  components: {
    PromptDialog
  },
  data () {
    return {
      navActive: false,
      thisProj: null,
      newListShow: false,
      deleteProjShow: false,
      error: null
    }
  },
  mounted () {
    this.$on('refresh', () => this.refresh())
    instance = this
    if (this.authenticated) {
      update(this)
    }
    this.$router.afterEach(() => this.navActive = false)
  },
  computed: {
    authenticated () {
      return this.$store.getters.authenticated
    },
    projects: {
      get () {
        return this.$store.state.projects
      },
      set (projects) {
        this.$store.commit('updateProjects', projects)
      }
    }
  },
  watch: {
    authenticated (value) {
      if (value) {
        update(this)
      }
    }
  },
  methods: {
    toggleNav () {
      this.navActive = !this.navActive
    },
    async newList (project) {
      this.thisProj = project
      await nextTick()
      this.newListShow = true
    },
    async newListCreate ({ value }) {
      try {
        const data = await post('/lists', {
          project: this.thisProj.id,
          name: value
        })
        update(this)
        this.$router.push(`/list/${data.id}`)
      } catch (e) {
        console.log(e)
        this.error = 'Failed to create list!'
      }
      this.thisProj = null
    },
    async deleteProject (project) {
      this.thisProj = project
      await nextTick()
      this.deleteProjShow = true
    },
    async deleteProjGo () {
      try {
        await api(`/projects/${this.thisProj.id}`, {
          method: 'DELETE'
        })
        let changePage = false
        const path = this.$route.path
        const listMatch = /^\/list\/(\d+)$/.exec(path)
        if (listMatch && this.thisProj.lists.some(l => l.id == listMatch[1])) {
          changePage = true
        } else {
          const projMatch = /^\/project\/(\d+)$/.exec(path)
          changePage = projMatch && this.thisProj.id == projMatch[1]
        }
        if (changePage) {
          this.$router.push('/')
        }
        update(this)
      } catch (e) {
        console.log(e)
        this.error = 'Failed to delete project!'
      }
    },
    refresh () {
      this.projects = null
      update(this)
      this.$refs.view.$emit('refresh')
    },
    logout
  }
}
</script>

<style lang="scss">
main {
  height: 100vh;
}

.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.dumb-container {
  display: contents;
}

.desktop-only {
  display: none;
}

@media(min-width: 600px) {
  .mobile-only {
    display: none !important;
  }

  .desktop-only {
    display: initial !important;
  }
}
</style>
